<p id="notice"><%= notice %></p>

<div class='well'>
  <p><%= @status.content %></p>
  <hr />
  <span class='admin'><%= link_to "Edit", edit_status_path(@status) %></span>
  <span class='admin'>| <%= link_to "Delete", @status, method: :delete, data: { confirm: "Are you sure you want to delete this?" } %></span>
  | <%= link_to 'posted ' + time_ago_in_words(@status.created_at) + ' ago', @status %>
</div>

<%= link_to 'Back', statuses_path %>


