<%= simple_form_for(@fillup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :miles_driven %>
    <%= f.input :amount_of_gas %>
    <%= f.input :price_of_gas %>
    <%= f.input :date_of_fillup %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
