<h1>My Fillups</h1>

<ul>
  <% @fillups.each do |fillup| %>
    <%= fillup.date_of_fillup %><br/>
    My car had <%= fillup.odometer_reading %> miles, 
    I bought <%= fillup.amount_of_gas %> gallons of gas 
    at $<%= fillup.price_of_gas %> per gallon.<br/>
    <%= link_to 'View', fillup %> |
    <%= link_to 'Edit', edit_fillup_path(fillup) %> |
    <%= link_to 'Delete', fillup, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr/>
  <% end %>
</ul>

<%= link_to 'New Fillup', new_fillup_path %>
