
<div id='fillups'>
  <h1>Track My Mileage</h1>

<!--   <p class='well'>Every time you fill up your car with gas, don't forget to create a new fillup record to keep track of your mileage over time. Temember to take note of how many miles you've driven since the last time you filled up, how much gas you bought, and how much you paid.</p> -->

  <canvas id="myChart" width="800" height="400"></canvas>
  <p class='y-axis-label'>MPG</p>
  <p class='x-axis-label'>Date of Fillup</p>

  <hr/>



  <div id='fillup-list'>
    <h2>List of Fillups</h2>
    <%= link_to 'Add a Fillup',new_fillup_path, class: 'btn' %><br/>

    <% @fillups.each do |fillup| %>
      <div class='individual-fillup row'>
        <div class='fillup-date span2'>
          <%= fillup.date_of_fillup.to_formatted_s(:long) %><br/>
        </div>
        <div class='fillup-details span9'>
          Mileage - <%= fillup.calculate_mpg.round(2) %> mpg<br/> 
          Purchase - <%= fillup.amount_of_gas %> gallons at $<%= fillup.price_of_gas %> per gallon<br/>
          <%= link_to 'Edit', edit_fillup_path(fillup), class: 'btn' %>
          <%= link_to 'Delete', fillup, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
