<div class='page-header'>
  <h1 class='text-center'>Gas Savings Calculator</h1>
</div>

<div class='row'>
  <div class='span3'></div>
  <div id='calculator' class='span6'>
    <p class='lead text-center'>Just how much money can you save on gas?</p>
    <div class='well'>
      <%= form_tag '#' do %>
        <%= label_tag 'Miles biked, not driven' %>
        <%= text_field_tag 'Miles biked' %>

        <%= label_tag 'Cost of gas' %>
        <%= text_field_tag 'Cost of gas' %>
        <br />
        <%= submit_tag 'Calculate', class: 'btn btn-success' %>

      <% end %>
    </div>
    <p class='lead text-center'>You saved this much on gas:</p>
  </div>
  <div class='span3'></div>
</div>

<div class='row'>
  <div class='span5'></div>
  <div class='span2'>
    <div id='savings'>
      <p class='text-center answer'></p>
    </div>
  </div>
  <div class='span5'></div>
</div>